<!doctype html>
<html>
    <head>
    <title>Calendario</title>

        <link rel="stylesheet" href="../../public/libs/pickadate/lib/themes/default.css">
        <link rel="stylesheet" href="../../public/libs/pickadate/lib/themes/default.date.css">
        <link rel="stylesheet" href="../../public/libs/pickadate/lib/themes/default.time.css">
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
            
    </head>
    <body>

            
                <input class="datepicker" type="text" placeholder="Try me...">
                <input class="timepicker" type="text" placeholder="Try me...">
                
                <script type="text/javascript"> 
                    $('.datepicker').pickadate();
                    $('.timepicker').pickatime();
                                
                </script>
        
        <!--<script src="../../public/libs/pickadate/tests/jquery.1.7.0.js"></script>-->
        <!--<script src="../../public/libs/pickadate/tests/jquery.1.9.1.js"></script>-->
        <script src="../../public/libs/pickadate/lib/picker.js"></script>
        <script src="../../public/libs/pickadate/lib/picker.date.js"></script>
        <script src="../../public/libs/pickadate/lib/picker.time.js"></script>
        <script src="../../public/libs/pickadate/lib/legacy.js"></script>
 
        <!--<script src="../../public/assets/js/calendario.js" type="text/javascript"></script>
        <script src="../../public/assets/js/tiempo.js" type="text/javascript"></script>-->
    </body>
</html>